<footer>
  <a href="https://astro.build">
    <img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20" />
  </a>
  <a href="https://github.com/HiDeoo/astro-glob-loader-config-generator/issues/new/choose">Report an issue</a>
</footer>
